/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
  color: #333;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 95vw;
  margin-top:20px;
  margin-bottom:20px;
  background: white;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Input and Button */
.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  /* max-width:94vw; */
  /* min-height: 32px; */
  /* width: 100%; */
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

h2 {
  font-size: 22px;
  color: #333;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Chart */
.chart-container {
  width: 100%;
  height: 500px;
  background: white;
  border-radius: 8px;
  margin-bottom:80px;
}


.geo-location-btn{
  margin-top:-15px;
}


/* Responsive Layout */
@media (min-width: 768px) {

  .container{
    /* width: 100%; */
   max-width: 800px;
  }

  input {
    padding:10px;
    width:100%
  }

  body{
    display: flex;
  }

  .search-container {
    flex-direction: row;
    align-items: center;
  }
/* 
  input {
    flex: 1;
  } */

  button {
    width: auto;
  }
}
