/* Default Light Theme */
:root {
  --bg-color: #f0f4f8;
  --text-color: #333;
  --container-bg: white;
  --button-bg: #007bff;
  --button-text: white;
  --chart-bg: white;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #f0f0f0;
  --container-bg: #252525;
  --button-bg: #ff9800;
  --button-text: #000;
  --chart-bg: #333;
}

/* Global styles */
body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  padding-top: 70px;
}

.container {
  position: relative;
  /* width: 100%; */
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--container-bg);
  padding: 0px;
  margin: 0 auto;
}

.themeToggleBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Search */
.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 10px;
  margin-bottom: 15px;
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
  .clear-input {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 30px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    display: inline-block;
  }
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  padding: 8px 35px;
  width: 100%;
  caret-color: #5a1d07; /* Change color */
  font-size: 18px; /* Increase font size to make caret bigger */
  line-height: 2; /* Adjust vertical alignment */
  font-family: monospace;
  font-weight: 600;

  &::placeholder {
    font-weight: lighter;
    opacity: 0.5;
  }
}

.suggestions-list {
  position: absolute;
  top: 60px;
  width: 100%;
  background: var(--container-bg);
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.suggestions-list li:hover,
.suggestions-list .selected {
  background: var(--button-bg);
  color: var(--button-text);
}

.weather-icon {
  max-width: 30%;
  margin: 0 auto;
}

.weather-info {
  margin-bottom: 50px;
}

.current-temp {
  font-size: 60px;
}

input {
  padding: 15px 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

h2 {
  font-size: 22px;
  color: var(--text-color);
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Chart */
.chart-container {
  width: 100%;
  height: 500px;
  background: var(--chart-bg);
  border-radius: 8px;
  margin-bottom: 80px;
}

.geo-location-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  cursor: pointer;
  padding: 5px;
}

/* Responsive Layout */
@media (min-width: 768px) {
  .container {
    padding: 20px 20px;
  }

  input {
    padding: 10px;
    width: 100%;
  }

  button {
    width: auto;
  }

  h1 {
    padding-top: 50px;
  }
}
